/*Color*/
     .color-grid {
      display: flex;
      overflow-x: auto;
      padding-bottom: 10px;
      gap: 12px;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
    
    .color-option {
      scroll-snap-align: start;
      flex: 0 0 auto;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 2px solid #ccc; /* gris claro */
      cursor: pointer;
      transition: transform 0.2s, border-color 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    
    .color-option:hover {
      transform: scale(1.2);
    }
    
    .color-option input {
      display: none;
    }
    
    .color-option:has(input:checked) {
      border-color: #000; /* negro al seleccionar */
    }
    
    .color-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: block;
    }
    /*Color*/
    
